  <div class="container">
    <div class="row">
        <div class="col-md-12 bg-fila1">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" *ngIf="sin_iniciar_seccion" href="news">News</a>
                <a class="nav-item nav-link" *ngIf="sin_iniciar_seccion" href="#">Discount</a>
                <a class="nav-item nav-link" *ngIf="sin_iniciar_seccion" href="login">Login</a>
                <a class="nav-item nav-link" *ngIf="sin_iniciar_seccion" href="registrar">Registrar</a>
                <a class="nav-item nav-link" *ngIf="seccion_iniciada" href="dashboard">Dashboard</a>
                <button type="button" *ngIf="seccion_iniciada" class="btn btn-block" (click)="logout()" >Desconectar</button>
                
              </div>
            </div>
          </nav>
        
        </div>
        
    </div>
  
</div>
