body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 15px;
}

.col-md-6,.col-md-7 ,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}


